<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>静听</title>
  <link rel="icon" href="/images/favicon.ico" mce_href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/category.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  
  <link rel="stylesheet" type="text/css" href="/css/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/css/swiper-3.3.1.min.css">
	<link rel="stylesheet" type="text/css" href="/css/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/css/css/james.css">
	<link rel="stylesheet" type="text/css" href="/css/css/james4.css">
  
  
</head>
<body>
<header>
  <div class="container">
    <div class="navbar-header">
      <a href="{:url('index')}" class="navbar-brand">
        <img src="/images/logo.png" alt="">
      </a>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-link">
        <li><a href="{:url('index')}">首页</a></li>
        <li><a href="{:url('find')}">发现音乐</a></li>
        <li><a href="{:url('love')}">我的歌单</a></li>
        <li><a href="{:url('bolg')}">技术博客</a></li>
        <li class="active"><a href="{:url('shop')}">耳机专场</a></li>
      </ul>
    </nav>
  </div>
</header>

		<div class="wrap">
		<div class="loading">
			<div class="logo"><img src="/images/tu/loadinglogo.png" alt=""></div>
			<div class="text animated slideInUp" swiper-animate-delay="2s" ><img src="/images/tu/loadingtext.png" alt=""></div>
		</div>
		
		
		
		<div id="nav" class="animated slideInDown clear" swiper-animate-delay="0.5s">
			<div class="fl l"><a href="index.html"><!-- <img class="logoi" src="img/logo.png"/> --></a><strong>beats </strong><span> by dr.dre</span></div>
		</div>
	<div id="zhuye1" class="swiper-container">
		 <div class="yi">
		 	<p class="animated slideInRight" swiper-animate-delay="0.5s">为声音而生SOLO2</p>
		 	<p class="animated slideInRight" swiper-animate-delay="0.5s">音乐，让我在悲伤时感到一丝快乐，让我在感动时潸然落泪。音乐让我知道，人世间的各种欢乐，各种辛酸，各种痛楚；音乐让我知道，只要有音乐，我就不会孤独，不会寂寞。音乐，为我的生命注入了无穷的动力。音乐给了我们另一个世界，一个想要多大就有多大的世界，在那里，我们可以搁下所有的忧愁和烦恼，快乐成长。音乐的世界虽然飘渺，却洋溢着激情，虽然平实，却充满芳香，虽然遥远，却绽满感动。让我们的心在音乐的世界里碰撞，击出朵朵灿烂的火花，在你我心头长开不败......  
			</p>
			
			
			<a href="{:url('shop_1')}" class="gou_a"><div class="gou"><h2> 立即订购 <font color="red">➤</font></h2></a>
		 </div> <br />
		 <a href="{:url('dingdan1')}" class="gou_a"><div class="gou"><h2> 查看订单 <font color="red">➤</font></h2> </a>
		 </div>
		</div>
		<div class="er clear">
			<div class="left fl">
				
			</div>
		</div>
	
		
			</div>
	</div>
		
<footer>
  <div class="container">
    <div class="copyright">
      <p>Copyright © <span class="update-year">2016</span> Chen Xiaodong - All Rights Reserved&nbsp;&nbsp;|&nbsp;&nbsp;2014级
        软件工程1班 陈晓东</p>
    </div>
  </div>
</footer>
</body>
<script type="text/javascript" src="/js/js/swiper.animate1.0.2.min.js"></script>
<script type="text/javascript" src="/js/js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/js/js/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="/js/js/james.js"></script>
<script type="text/javascript" src="/js/js/james4.js"></script>
</html>
