
<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

    <head>

        <meta charset="utf-8">
        <title>登陆</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/images/favicon.ico" mce_href="http://jt.hapboy.xyz/favicon.ico" type="image/x-icon">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta property="og:url" content="http://www.ykxkun.cn" />

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel="stylesheet" href="/css/resets.css">
        <link rel="stylesheet" href="/css/supersized.css">
        <link rel="stylesheet" href="/css/styles.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="//tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=298622668" type="text/javascript" charset="utf-8"></script>
    </head>

    <body>

        <div class="page-container">
            <h1>登陆</h1>
            <form action="{:url('index/user/check')}" method="post">
                <input type="text" name="username" class="username" placeholder="你的昵称">
                <input type="password" name="pwd" class="pwd" placeholder="密码">
                <input type="text" name="code" placeholder="验证码" style="width:100px;margin-left:-10px;"></span><img src="{:captcha_src()}" alt="capcha"  class="passcode" style="height:40px;position: relative;top:15px;cursor:pointer;" onclick="this.src=this.src+'?'">
                <button type="submit">登陆</button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <p>您还可以通过微博登陆:</p>
                <p>
                   <!--  <wb:login-button type="3,4" onlogin="login" onlogout="logout"><a href="{:url('index/user/wblogin')}">登录按钮</a></wb:login-button> -->
                    <a href="<?=$code_url?>"><img src="/images/weibo.png"></a>
                    <!-- <wb:login-button type="3,2" onlogin="login" onlogout="logout"></wb:login-button>
                    <span></span> -->
                </p>
            </div>
        </div>
        <div ><a href="{:url('index/user/reg')}" style="color:red;">现在注册</a> <a href="{:url('index/index/index')}" style="color:pink;">返回首页</a> </div>

        <!-- Javascript -->
        <script src="/js/jquery-1.8.2.min.js"></script>
        <script src="/js/supersized.3.2.7.min.js"></script>
        <script src="/js/supersized-init.js"></script>
        <script src="/js/scriptss.js"></script>
    </body>

</html>

